name: Generate ontology documentation (dev)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  widoco:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Prepare directories
        run: |
          mkdir -p docs/dev docs/logs
          chmod -R u+rwX docs

      - name: Run WIDOCO
        uses: soilwise-he/widoco-action@main
        with:
          file-input: vivo.owl        # local ontology
          folder-output: docs/dev     # folder where docs should be written
          args: >
            -lang en
            -rewriteAll
            -includeImportedOntologies
            -noPlaceHolderText

      - name: Fix permissions
        run: |
          chmod -R u+rwX docs

      - name: Commit generated documentation
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: docs/**
          commit_message: Generate ontology documentation (dev)
          commit_user_name: github-actions[bot]
          commit_user_email: 41898282+github-actions[bot]@users.noreply.github.com
